ul {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--white)
}

body {
    max-width: 1920px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}