.footer {
    height: 255px;
    margin-top: 120px;
    background-color: var(--whiteBlue);
    box-sizing: border-box;
}

.footer__content {
    margin: 0;
    padding: 0;
}

.footer__number {
    padding-top: 36px;
    margin: 0;
    width: 123px;
    height: 27px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--white);
}

.footer__title {
    width: 610px;
    height: 19px;
    margin: 40px 123px 29px 128px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
}

.footer__mail {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: var(--white);
    margin-top: 40px;
}

.footer__line,
.footer__border {
    border: 1px solid var(--white);
    width: 1110px;
}

.footer__row {
    height: 50px;
    width: 560px;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: var(--white);
}

.col-4 {
    width: 33.33%;
}

.footer__link-1 {
    padding: 25px 107px 10px 0;
}

.footer__link-2 {
    padding: 0 134px 25px 0;
}

.footer__link-3 {
    padding: 25px 139px 10px 0;
}

.footer__link-4 {
    padding: 0 141px 25px 0;
}

.footer__link-5 {
    padding: 25px 70px 10px 0;
}

.footer__link-6 {
    padding: 0;
}



.footer__border {
    margin-top: 50px;
}

.footer__text {
    padding: 25px 0 25px 0;
    justify-content: space-between;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: var(--white);
}

.end__text {
    margin: 0;
}