.rent {
    padding-top: 150px;
    margin: 0;
}

.rent__logo,
.rent__title {
    margin: 0;
}

.rent__logo {
    padding-top: 18px;
}

.rent__title {
    padding-left: 40px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--black);
}

.rent__block-inf {
    width: 350px;
    height: 175px;
    padding-top: 150px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: var(--black);
}

.block-inf-text {
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    width: 350px;
    height: 195px;
}

.rent__item {
    margin: 40px 0 108px 90px;
    border: 3px solid var(--blue);
    box-sizing: border-box;
    width: 665px;
    height: 394px;
}

.rent__item-content {
    max-width: 615px;
    max-height: 334px;
    margin: 30px 20px 30px 30px;
}

.rent__item-title {
    margin: 0;
    padding-top: 12px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* .rent-item-png {} */
.rent__img {
    padding-top: 45px;
    width: 255px;
    height: 250px;
    box-sizing: border-box;
}

/* .rent__item-slide {} */

.rent__item-subtitle {
    margin-left: 30px;
    padding-top: 45px;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--black);
}

.rent__slide-menu {
    padding: 30px 20px 74px 45px;
    width: 310px;
    height: 152px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.rent__slide-link2 {
    padding-top: 20px;
}

.rent__slide-link3 {
    padding-top: 20px;
}

.rent__slide-link4 {
    padding-top: 20px;
}